@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?v9nr1t');
  src:  url('icomoon.eot?v9nr1t#iefix') format('embedded-opentype'),
    url('icomoon.ttf?v9nr1t') format('truetype'),
    url('icomoon.woff?v9nr1t') format('woff'),
    url('icomoon.svg?v9nr1t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e902";
}
.icon-logoText:before {
  content: "\e901";
}
.icon-logoCircle:before {
  content: "\e900";
}
